EC2 Auto Clean Room Forensics/Step-Function/Step-Function-shot-to-kill-Semiautomatic.json
{
  "Comment": " A state machine that submits a Job to AWS Batch and monitors the Job until it completes. ",
  "StartAt": "Create Support Ticket Job",
  "States": {
    "Create Support Ticket Job": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:<<Account Number>>:function:sec-ir-1-createSupportTicket",
      "ResultPath": "$.supportID",
      "Next": "Start Isolating the instance",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Start Isolating the instance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:<<Account Number>>:function:sec-ir-2-isolateInstance",
      "Next": "Alert Security Team on Isolation and Incident",
      "InputPath": "$",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Alert Security Team on Isolation and Incident": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:<<Account Number>>:function:sec-ir-3-sendIsolationNotification",
      "InputPath": "$",
      "ResultPath": "$",
      "Next": "Kill or Quarantine",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Kill or Quarantine": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-west-2:<<Account Number>>:activity:Kill-it",
      "TimeoutSeconds": 3600,
      "InputPath": "$",
      "ResultPath": null,
      "Next": "Got Authorization?"
    },
    "Got Authorization?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.STATUS",
          "StringEquals": "FAILED",
          "Next": "Keep in Quarantine"
        },
        {
          "Variable": "$.STATUS",
          "StringEquals": "SUCCEEDED",
          "Next": "Terminate affected instance"
        }
      ]
    },
    "Terminate affected instance": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "arn:aws:lambda:us-west-2:<<Account Number>>:function:sec-ir-B-terminateInstance",
      "End": true
    },
    "Keep in Quarantine": {
      "Type": "Pass",
      "End": true
    }
  }
}
